parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method App\\Models\\Subscriber\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Actions/Subscriber/RegisterSubscriber.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/GenerateSitemap.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Guard\:\:logout\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\AuthenticatedSessionController\:\:create\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Auth/AuthenticatedSessionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\ConfirmablePasswordController\:\:show\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\NewPasswordController\:\:create\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\PasswordResetLinkController\:\:create\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Auth/PasswordResetLinkController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\RegisteredUserController\:\:create\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/CategoryController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:get\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Http/Controllers/CategoryController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Method App\\Http\\Controllers\\ManageSubscriberController\:\:create\(\) should return Illuminate\\Http\\Response but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/ManageSubscriberController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$post_search\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/TextSearchController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/TextSearchController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:paginate\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/TextSearchController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:search\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/TextSearchController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/UnsubscribeController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Subscriber\:\:findOrFail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/UnsubscribeController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:whereSlug\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/WelcomeController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:count\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/WpApiController.php

		-
			message: '#^Method App\\Http\\Middleware\\Authenticate\:\:redirectTo\(\) should return string\|null but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Middleware/Authenticate.php

		-
			message: '#^Call to an undefined static method App\\Models\\SiteUpdate\:\:wherePostId\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Listeners/CreateSiteUpdate.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Category/ManageCategories.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Livewire/Category/ManageCategories.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:findOrFail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Category/ManageCategories.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:orderBy\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Category/ManageCategories.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Channel/ManageChannels.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Livewire/Channel/ManageChannels.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:findOrFail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Channel/ManageChannels.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:orderBy\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Channel/ManageChannels.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Livewire/CreatePost.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Livewire/EmailEditor.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Emails/CreateUpdateEmail.php

		-
			message: '#^Call to an undefined static method App\\Models\\EmailUpdate\:\:make\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Emails/CreateUpdateEmail.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:whereStatus\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Forms/CategorySelect.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:whereStatus\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Forms/ChannelSelect.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$author_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$body\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$category_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$channel_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$cover_image\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$is_in_vault\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$meta_description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$published_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Forms/PostForm.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Home.php

		-
			message: '#^Call to an undefined static method App\\Models\\Link\:\:wherePosition\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Home/DisplayLinks.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:published\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Home/MainBody.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Home/MainBodyHeader.php

		-
			message: '#^Call to an undefined static method Spatie\\MediaLibrary\\MediaCollections\\Models\\Media\:\:findorfail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Livewire/Images/PinImages.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Images/Upload.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:findOrFail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Livewire/Images/Upload.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Links/ManageLinks.php

		-
			message: '#^Call to an undefined static method App\\Models\\Link\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Links/ManageLinks.php

		-
			message: '#^Call to an undefined static method App\\Models\\Link\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Livewire/Links/ManageLinks.php

		-
			message: '#^Call to an undefined static method App\\Models\\Link\:\:findOrFail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Links/ManageLinks.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Menus/MenuBottom.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Livewire/Menus/MenuTop.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$published_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Posts/EditPost.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$slug\.$#'
			identifier: property.notFound
			count: 3
			path: app/Livewire/Posts/EditPost.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasOne\:\:delete\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Livewire/Posts/EditPost.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/EditPost.php

		-
			message: '#^Undefined variable\: \$value$#'
			identifier: variable.undefined
			count: 1
			path: app/Livewire/Posts/EditPost.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Livewire/Posts/Index/Table.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:findOrFail\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/Index/Table.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowCategoryPosts.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:published\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowCategoryPosts.php

		-
			message: '#^Call to an undefined static method App\\Models\\Channel\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowChannelPosts.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:published\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowChannelPosts.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowLatestPosts.php

		-
			message: '#^Method Carbon\\Carbon\:\:subMonth\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Livewire/Posts/ShowLatestPosts.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:published\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowPost.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowPost.php

		-
			message: '#^Call to an undefined static method App\\Models\\SiteUpdate\:\:filtertitle\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowPostUpdates.php

		-
			message: '#^Call to an undefined static method App\\Models\\SiteUpdate\:\:make\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowPostUpdates.php

		-
			message: '#^Call to an undefined static method App\\Models\\SiteUpdate\:\:whereKey\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowPostUpdates.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Posts/ShowVaultPosts.php

		-
			message: '#^Access to an undefined property App\\Livewire\\Subscriber\\ManageSubscribers\:\:\$rows\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Subscriber/ManageSubscribers.php

		-
			message: '#^Access to an undefined property App\\Livewire\\Subscriber\\ManageSubscribers\:\:\$rowsQuery\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Subscriber/ManageSubscribers.php

		-
			message: '#^Access to an undefined property App\\Livewire\\Subscriber\\ManageSubscribers\:\:\$selectedRowsQuery\.$#'
			identifier: property.notFound
			count: 2
			path: app/Livewire/Subscriber/ManageSubscribers.php

		-
			message: '#^Call to an undefined method App\\Livewire\\Subscriber\\ManageSubscribers\:\:selectPage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Livewire/Subscriber/ManageSubscribers.php

		-
			message: '#^Call to an undefined static method App\\Models\\Subscriber\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Subscriber/ManageSubscribers.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Livewire/Subscriber/ManageSubscribers.php

		-
			message: '#^Call to an undefined static method App\\Models\\Subscriber\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Livewire/Subscriber/VerifySubscriber.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Category.php

		-
			message: '#^Access to an undefined property App\\Models\\Channel\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Channel.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$body\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Post.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$featured_image\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$published_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Filesystem\\Filesystem\:\:url\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Post\>\:\:writeToFile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Post.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$uuid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Profile.php

		-
			message: '#^Access to an undefined property App\\Models\\SiteUpdate\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/SiteUpdate.php

		-
			message: '#^Access to an undefined property App\\Models\\SiteUpdate\:\:\$update_date\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/SiteUpdate.php

		-
			message: '#^Access to an undefined property App\\Models\\Subscriber\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Subscriber.php

		-
			message: '#^Access to an undefined property App\\Models\\Subscriber\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Subscriber.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Category\:\:\$wp_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$author_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$body\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$category_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$channel_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$cover_image\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$meta_description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$published_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Access to an undefined property App\\Models\\Post\:\:\$wp_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Call to an undefined method App\\Models\\Post\:\:setTags\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Call to an undefined static method App\\Models\\Category\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:find\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Call to an undefined static method App\\Models\\Post\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Models/WpApi.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Method App\\Models\\WpApi\:\:syncTags\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Models/WpApi.php

		-
			message: '#^Undefined variable\: \$post$#'
			identifier: variable.undefined
			count: 1
			path: app/Notifications/PostWasPublished.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Notifications/PostWasPublished.php

		-
			message: '#^Call to an undefined method App\\Providers\\AppServiceProvider\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Call to an undefined method App\\Providers\\AppServiceProvider\:\:where\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Trait App\\Traits\\HasManageableDate is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasManageableDate.php

		-
			message: '#^Method App\\View\\Components\\AppLayout\:\:render\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/View/Components/AppLayout.php

		-
			message: '#^Method App\\View\\Components\\GuestLayout\:\:render\(\) should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\Factory\|Illuminate\\Contracts\\View\\View\.$#'
			identifier: return.type
			count: 1
			path: app/View/Components/GuestLayout.php
